.bg-body-app{
  background-color: #020617 !important;
}
.card-hover{
  transition: all .25s ease;
}
.card-hover:hover{
  transform: translateY(-8px) scale(1.01);
}
.card-tarjeta{
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity)) !important;
  border-radius: 1rem !important;
  border: 1px solid #0a58ca !important;
}
.card-tarjeta p{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity)) !important;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.load {
  position: fixed;
  z-index: 5;
  left: 50%;
  top: 44%;
  margin: auto;
}



